.btn, .button  {
    font-size: 20px;
    line-height: 24px;
    font-family: 'ralewaysemibold';
    color: white;
    padding: 15px 40px;
    border-radius: 12px;
    &--morado {
        background: $morado;
        position: relative;
        width: 240px;
        display: inline-block;
        box-sizing: border-box;
        text-align: center;
        overflow: hidden;
        z-index: 1;
        &:before {
            content: '';
            position: absolute;
            background-image: url('../assets/img/motocicleta_white.svg');
            width: 30px;
            height: 30px;
            background-size: cover;
            left: 0px;
            transition: 0.5s;
            top: 12px;
            opacity: 0;
        }
        &:after {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            background: #3141f5;
            left: 0px;
            top: 0;
            z-index: -1;
            transform: translateX(-100%);
            transition: 0.8s;
        }
        &:hover {
            &:before {
                transform: translateX(200px);
                opacity: 1;
            }
            &:after {
                transform: translateX(190px);
            }
        }
    }
    &--naranja {
        background: $orange;  
        position: relative;
        width: 240px;
        display: inline-block;
        box-sizing: border-box;
        text-align: center;
        overflow: hidden;
        z-index: 1;
        &:before {
            content: '';
            position: absolute;
            background-image: url('../assets/img/motocicleta_white.svg');
            width: 30px;
            height: 30px;
            background-size: cover;
            left: 0px;
            transition: 0.5s;
            top: 12px;
            opacity: 0;
        }
        &:after {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            background: #f98b0d;
            left: 0px;
            top: 0;
            z-index: -1;
            transform: translateX(-100%);
            transition: 0.8s;
        }
        &:hover {
            &:before {
                transform: translateX(200px);
                opacity: 1;
            }
            &:after {
                transform: translateX(190px);
            }
        }
    }
}
.buttonAdd a {
    font-size: 20px !important;
    background: #425aff !important;
    color: white !important;
    display: block !important;
    text-align: center;
    padding: 20px !important;
    border-radius: 10px !important;
    font-family: 'heebo';
    text-transform: uppercase;
}
.buttonAdd {
    text-align: right;
    margin-top: 20px;
    margin-bottom: 20px;
}
.buttonAdd a.added_to_cart {
    display: none !important;
}