.btn, .button  {
    font-size: 20px;
    line-height: 24px;
    font-family: 'ralewaysemibold';
    color: white;
    padding: 15px 40px;
    border-radius: 12px;
    &--morado {
        background: $morado;
    }
    &--naranja {
        background: $orange;   
    }
}
.buttonAdd a {
    font-size: 20px !important;
    background: #425aff !important;
    color: white !important;
    display: block !important;
    text-align: center;
    padding: 20px !important;
    border-radius: 10px !important;
    font-family: 'heebo';
    text-transform: uppercase;
}
.buttonAdd {
    text-align: right;
    margin-top: 20px;
    margin-bottom: 20px;
}
.buttonAdd a.added_to_cart {
    display: none !important;
}