
.wpcf7, .wpcf7-form{
	padding: 20px !important;
	h2{
	text-align: center;
	font-family: 'Raleway';
	}
	.contact_flex{
	display: flex;
	justify-content: space-between;
	margin-top: 15px;
	font-size: 15px;
	font-family: 'ralewaysemibold';
	text-align: left;
	text-transform: uppercase;
		#empresa{
			position: relative;
			width: 45%;
			overflow: hidden;
			&:before {
			    position: relative;
			    background-image: url(../assets/img/empresa.png);
			    content: '';
			    width: 25px;
			    height: 25px;
			    background-size: contain;
			    display: inline-block;
			    top: 2px;
			    left: 0;
			}
		}
		#cargo{
			position: relative;
			width: 45%;
			overflow: hidden;
			&:before {
			    position: relative;
			    background-image: url(../assets/img/cargo.png);
			    content: '';
			    width: 25px;
			    height: 25px;
			    background-size: contain;
			    display: inline-block;
			    top: 2px;
			    left: 0;
			}
		}
	#celular{
		position: relative;
		width: 45%;
		overflow: hidden;
		&:before {
		    position: relative;
		    background-image: url(../assets/img/celular.png);
		    content: '';
		    width: 25px;
		    height: 25px;
		    background-size: contain;
		    display: inline-block;
		    top: 2px;
		    left: 0;
		}
	}
	
	#correo{
		position: relative;
		width: 45%;
		#correo:before {
		    position: relative;
		    background-image: url(../assets/img/mensaje.png);
		    content: '';
		    width: 25px;
		    height: 25px;
		    background-size: contain;
		    display: inline-block;
		    top: 2px;
		    left: 0;
		}
	}
	}
	span.wpcf7-form-control-wrap.your-email {
		width: 100%;
	}
	p{
	font-size: 15px;
	font-family: 'ralewaysemibold';
	text-align: left;
	text-transform: uppercase;
	label{
	    position: relative;
	    display: block;
	    &#nombre{
	    	&:before {
		    position: relative;
			    background-image: url(../assets/img/usuario.png);
			    content: '';
			    width: 25px;
			    height: 25px;
			    background-size: contain;
			    display: inline-block;
			    top: 2px;
			    left: 0;
			    margin-right: 10px;
			}
		}
		&#linkedin{
			margin-top: 15px;
	    	&:before {
			    position: relative;
			    background-image: url(../assets/img/linkedin.png);
			    content: '';
			    width: 25px;
			    height: 25px;
			    background-size: contain;
			    display: inline-block;
			    top: 2px;
			    left: 0;
			    margin-right: 10px;
			}
		}
		&#interes{
	    	&:before {
		    position: relative;
		    background-image: url(../assets/img/icon1.png);
		    content: '';
		    width: 25px;
		    height: 25px;
		    background-size: contain;
		    display: inline-block;
		    top: 2px;
		    left: 0;
		    margin-right: 10px;
			}
		}
		&#curriv{
	    	&:before {
		    position: relative;
		    background-image: url(../assets/img/icon2.png);
		    content: '';
		    width: 25px;
		    height: 25px;
		    background-size: contain;
		    display: inline-block;
		    top: 2px;
		    left: 0;
		    margin-right: 10px;
			}
		}
	}
	}
	input {
	font-family: 'ralewayregular';
	border: unset;
	border-bottom: 1px solid #4F4D4D;
	width: 100%;
	background-color: transparent;
	color: white;
	}
	select.wpcf7-form-control.wpcf7-select {
	width: 100%;
	background: transparent;
	border: unset;
	border-bottom: 1px solid #4F4D4D;
	}
	input.wpcf7-form-control.wpcf7-file {
	margin-top: 15px;
	margin-bottom: 10px;
	}
	input.wpcf7-form-control.wpcf7-submit {
	background: #FF9F32 !important;
	display: block;
	position: absolute;
	color: white;
	max-width: 279px;
	margin: 0 auto;
	height: 56px;
	bottom: -28px;
	left: 50%;
	transform: translateX(-50%);
	}
	.wpcf7 input.wpcf7-form-control.wpcf7-submit, .wpcf7-form input.wpcf7-form-control.wpcf7-submit {
	    max-width: 80%;
	    font-size: 18px;
	    font-family: 'Raleway';
	    font-weight: 600;
	}
}

@media screen and (max-width: 500px){
	.wpcf7 p, .wpcf7-form p {
	    font-size: 11px;
	}
	.wpcf7 .contact_flex, .wpcf7-form .contact_flex {
	    font-size: 11px;
	}
	.wpcf7 h2, .wpcf7-form h2 {
	    font-size: 15px;
	    margin-bottom: 15px;
	}
	.wpcf7 input.wpcf7-form-control.wpcf7-submit, .wpcf7-form input.wpcf7-form-control.wpcf7-submit {
	    max-width: 80%;
	}
	.wpcf7 input, .wpcf7-form input {
	    font-size: 9px;
	}
}
