@import "utilities";
@import "variables";
.init {
	position: relative;
    z-index: 1;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    overflow: hidden;
    .flex__table {
	    flex: none;
	    width: 50%;
	}
    .backgroundInside {
	    position: absolute;
	    top: 0;
	    left: 0;
	    z-index: -1;
	    width: 100%;
	    background-size: cover;
	    background-attachment: fixed;
	    background-position: bottom;
	}
    .content-x {
	    position: absolute;
	    bottom: 0px;
	    background: #000000;
	    box-sizing: border-box;
	    width: 100%;
	    .x-container { padding: 60px 0px; }
		.desc {
		    padding: 0px 30px;
		    color: white;
		    margin-right: 40px;
		    font-size: 18px;
		    line-height: 22px;
		    transform: translateY(-5px);
		    opacity: 0;
		}
		.imagen {
			img {
			    max-width: 250px;
			}
		}
		.title-x {
		    position: absolute;
		    left: 0px;
		    top: -100px;
		    h1 {
			    color: white;
			    font-size: 130px;
			    position: relative;
			    z-index: 1;
			    transform: translateY(-5px);
			    opacity: 0;
			    &:before {
				    content: attr(data);
				    color: #4F4D4D;
				    position: absolute;
				    font-size: 210px;
				    white-space: nowrap;
				    z-index: -1;
				    top: -125px;
				    left: 50%;
				    transform: translateX(-40%);
				    font-weight: 700;
				    opacity: 0.5;
				}
			}
		}
		.slide-min {
			.swiper-slide {
			    overflow: hidden;
			    img {
				    transition: 0.3s;
				    transform: translateX(-180px);
				    &.active { transform: none; }
				}
			}
		}
	}
	.alignBottom:before {
	    content: '';
	    position: absolute;
	    width: 100%;
	    height: 100%;
	    background: black;
	    opacity: 0.3;
	}
	video {
	    position: absolute;
	    width: 100%;
	    height: 100%;
	    object-fit: cover;
	    z-index: -1;
	}	
}
.banner {
	.initCore {
	    background-size: cover;
	    background-position: center;
	    position: relative;
	    z-index: 1;
	    video {
		    width: 100%;
		    height: 100%;
		    position: absolute;
		    object-fit: cover;
		    z-index: -1;
		}
	    &:before {
		    content: '';
		    position: absolute;
		    width: 100%;
		    height: 100%;
		    background: black;
		    opacity: 0.3;
		}

	}
	.bottom-banner {
	    bottom: 50px;
	    right: 200px;
	    z-index: 2;
	    width: 250px;
		.swiper-pagination {
		    margin-top: 0px !important;
		    display: flex;
		    .swiper-pagination-bullet {
			    width: 30px;
			    border-radius: 0px;
			    height: 0px;
			    border: solid 2px white;
			    margin-left: 10px;
			    &.swiper-pagination-bullet-active {
			    	width: 100px;
			    	border: solid 2px $morado;
			    }
			    i {
				    position: absolute;
				    color: white;
				    font-style: normal;
				    top: -37px;
				    left: 0px;
				    font-size: 25px;
				    font-weight: 700;
				    font-family: 'heebo';
				}
			    &:before {
			    	display: none;
			    }
			}
		}
	}
}
.absPost {
    position: absolute;
    bottom: 150px;
    width: 100%;
    a {
	    color: white;
	    h2 {
		    font-size: 80px;
		    text-transform: uppercase;
		    margin-bottom: 20px;
		    font-family: 'heebo';
		}
		p {
		    font-size: 40px;
		    display: flex;
		    align-items: center;
		    img {
			    margin-left: 20px;
			}
			i {
				width: 44px;
			    height: 44px;
			    margin-left: 20px;
			    transition: 0.3s;
			    animation: animationArrow linear 1s;
			  	animation-iteration-count: infinite;
			  	transform-origin: bottom;
			}
		}
	}
	.descubrela {
	    display: flex;
	    div {
		    margin-left: 10px;
		    width: 130px;
		    display: flex;
		    overflow: hidden;		    
		    span {
			    width: 65px;
			    height: 44px;
			    display: block;
			    flex: none;
			    transition: 0.3s;
			    &.indent {
				    margin-left: -65px;
				}
			}
		}		
		&:hover {
			span {
				&.indent {
					margin-left: 0px;
				}
			}
		}
	}
}
@keyframes animationArrow{
  0% {
    background-position: 0px;
  }
  100% {
    background-position: 44px;
  }
}
.contentModels {
    max-width: 1300px;
    margin: auto;
    position: relative;
}

.banner-lineal {
    height: 350px;
    margin-bottom: 20px;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    video {
	    width: 100%;
	    height: 100%;
	    object-fit: cover;
	    object-position: center;
	}
}
.allModels {
    padding: 60px 0px;
    right: 0px;
	.modelsChange {
	    display: flex;
	    align-items: center;
	    right: 0px;
    	z-index: 2;
	    p {
		    font-size: 20px;
		    margin-right: 10px;
		}
		.icons {
		    display: flex;
		    text-align: center;
		    .icons_item {
			    margin-left: 20px;
			    width: 55px;
			    cursor: pointer;
			    transition: 0.3s;
			    &:hover {
			    	transform: scale(1.05);
			    }
			    img {
				    height: 30px;
				    margin-bottom: 5px;
				    box-shadow: 0px 3px 3px #000000A6;
    				padding: 10px;
				} 
				p {
				    font-size: 14px;
				    text-align: center;
				    margin-right: 0px;
				}
				&.active {
					img {
						background-color: #b4a503;
						filter: invert(1);
				    	box-shadow: 0px 3px 3px white;
					}
				}
			}
		}
	}
}
.backImagen {
    position: absolute;
    width: 100%;
    max-width: 600px;
    left: 50%;
    transform: translateX(-50%)translateY(-50%);
    top: 50%;
    opacity: 0.2;
    img {
	    width: 100%;
	}
}
.contentModels {
    padding: 80px 0px;
}

.swiper-slide-next .myloopWooProducts {
    margin-top: 0px;
}
.myloopWooProducts {
    padding: 10px;
    margin-top: 60px;
    transition: 0.3s;
    perspective: 500px;
	position: relative;
	.ident {
		transform-style: preserve-3d;
    	transition: 0.3s;
	}
    a {
    	color: black;
    }
    .decorative {
	    display: flex;
	    align-items: center;
	    font-size: 20px;
	    margin-bottom: 5px;
	    img {
		    width: 30px;
		    margin-right: 10px;
		}
		&.animationdecoration {
			position: relative;
			overflow: hidden;
			&:before {
			    content: '';
			    position: absolute;
			    width: 15px;
			    height: 42px;
			    background: white;
			    transform: rotate(-45deg);
			    top: 15px;
			    opacity: .5;
			    left: 3px;
			    z-index: 2;
			    transition: 0.36s;
			    animation: fireAnimation linear 0.8s;
			  	animation-iteration-count: infinite;
			  	transform-origin: bottom;
			}
		}
	}
	.myMoto {
	    width: 350px;
	    box-shadow: 3px 3px 3px #00000066;
	    border-top-left-radius: 25px;
	    border-top-right-radius: 25px;
	    &__img {
		    position: relative;
		    border-top-left-radius: 25px;
		    border-top-right-radius: 25px;
		    z-index: 1;
		    img {
			    width: calc(100% + 50px);
			    margin-top: -55px;
			}
		}
		&__title {
		    overflow: hidden;
		    position: relative;
		    z-index: 2;
		    h4 {
			    color: white;
			    font-size: 30px;
			    text-align: center;
			    padding: 20px 0px;
			    padding-bottom: 30px;
			    text-transform: uppercase;
			    &:before {
				    content: attr(data);
				    color: #b7b7b7;
				    font-size: 65px;
				    position: absolute;
				    z-index: -1;
				    top: 23px;
				    white-space: nowrap;
				    left: 50%;
				    transform: translateX(-50%);
				    opacity: 0.2;
				}
			}
			h3 {
				text-align: center;
			    padding: 10px 0px;
			    font-size: 24px;
			    font-family: 'heebo';
			    padding-bottom: 0px;
			}
			p {
			    text-align: center;
			    color: #9F9F9F;
			    text-transform: uppercase;
			    font-size: 14px;
			    font-family: 'heebo';
			}
		}
		&__content {
		    padding: 10px 15px;
		    background: white;
		    position: relative;
		    .desct {
			    position: absolute;
			    font-family: 'heebo';
			    background: #ED1E1E;
			    color: white;
			    top: -10px;
			    z-index: 5;
			    right: -10px;
			    padding: 2px 25px;
			    border-radius: 7px;
			}
		}
		.myMoto_final {
		    margin-top: 10px;
		}
		&__colors {
		    flex: 1;
		    position: relative;		    
			.color {
			    display: inline-block;
			    span {
				    width: 16px;
				    height: 16px;
				    display: block;
				    border-radius: 50%;
				}
			}
		}
		&__mPrice {
		    display: flex;
		    justify-content: space-between;
		    margin: 10px 0px;
		    width: 100%;
		    font-family: 'heebo';
		    font-size: 14px;
		    font-weight: 700;
		}
		&__price {
		    flex: 1;
		    font-family: 'heebo';
		    del {
			    display: block;
			    color: #c1c1c1;
			    text-decoration: none;
			    font-size: 14px;
			    &:before {
			    	content: 'Antes ';
    				margin-right: 5px;
			    }
			}
			ins {
			    z-index: 1;
			    color: white;
			    text-decoration: none;
			    font-size: 24px;
			    font-weight: 700;
			    display: flex;
			    margin: 7px 0px;
			    justify-content: space-between;
			    position: relative;
			    line-height: 35px;
			    &:before {
			    	content: 'PRECIO Transferencia';
				    font-size: 14px;
    				line-height: 16px;
				    display: block;
				    max-width: 120px;
				    color: $morado;				    
				    font-family: 'ralewayregular';
				    font-weight: 700;
				    -webkit-text-stroke: 0.5px $morado;
			    }
			    .woocommerce-Price-amount {
			    	&:before {
			    		content: '';
			    		background: url('../assets/img/money_tranfs.svg');
						width: 30px;
					    height: 30px;
					    position: absolute;
					    background-size: cover;
					    right: 115px;
					    top: 4px;
			    	}
			    }			    
			    &:after {
			    	content: '';
				    position: absolute;
				    width: 150px;
				    height: 45px;
				    right: -15px;
				    top: -5px;
				    background: $morado;
				    z-index: -1;
				    border-bottom-left-radius: 20px;
			    }
			}
		}
	}
}
@keyframes fireAnimation{
  0% {
    transform:  rotate(-45deg);
  }
  100% {
  	transform:  rotate(-45deg)translateX(70px)translateY(-20px);
  }
}
.listaView {
	.swiper-button-prev, .swiper-button-next { display: none; }
	.swiper-wrapper {
		display: block;
		.swiper-slide {
			width: calc(50% - 30px);
		    float: left;
		    margin-right: 30px;
		    padding-bottom: 20px;
		    .myloopWooProducts {
		    	.myMoto {
		    		width: 100%;
		    		border-radius: 0px;
    				display: flex;
    				border-bottom-left-radius: 25px;
    				&__img {
    					width: calc(50% - 20px);    					
					    border-top-right-radius: 0px;
					    border-bottom-left-radius: 25px;
					    flex: none;
    				}
    				&__content {
    					width: calc(50% + 20px);	
    					padding-left: 40px;
					    flex: none;
					    box-sizing: border-box;
    				}
    				.desct {
					    right: auto;
					    left: -70px;
					    top: auto;
					    bottom: -20px;
					}
		    	}
		    }
		}
	}
}