@import "utilities";
@import "variables";
.cart-empty {
	&.woocommerce-info {
		display: none;
	}
}
.emptyCart {
    text-align: center;
    padding-bottom: 60px;
    padding-top: 20px;
    h1 {
	    color: #FF9F32;
	    font-weight: 700;
	    margin-top: 25px;
	    margin-bottom: 15px;
	    font-size: 20px;
	}
}
.f-container {
	.titleCenter {
	    display: block;
	    text-align: center;
	    margin-bottom: 20px;
	}
	.my_products_featureds {
		margin-top: 20px;
		.my_prod {
		    margin-right: 50px;
		    margin-top: 40px;
		    position: relative;
		    margin-bottom: 20px;
		    margin-left: 10px;
		    transition: 0.3s;
		    perspective: 500px;
  			position: relative;
			.ident {
				transform-style: preserve-3d;
		    	box-shadow: 0px 4px 12px #0000003b;
			}
		    &:hover {
			    .ident {
			    	box-shadow: 0px 12px 18px #4e4e4e66;
			    }
			}
			a {
			    display: block;
			    .imagen {
				    margin-bottom: -30px;
				    .destacada {
					    position: absolute;
					    font-weight: 700;
					    background: #FB0415;
					    font-size: 12px;
					    top: -15px;
					    left: 15px;
					    color: white;
					    padding: 10px;
					    text-transform: uppercase;
					    border-radius: 5px;
					}
					img {
					    width: calc(100% + 60px);
					    display: block;
					    position: relative;
					    top: -40px;
					}
				}
				.text {
				    padding: 0px 15px;
				    h3 {
					    font-size: 30px;
					    color: #001A23;
					    font-weight: 700;
					    font-family: 'heebo';
					}
					p {
					    font-size: 20px;
					    font-weight: 700;
					    -webkit-text-stroke: 1px #959595;
					    color: #959595;
					}
				}
				.myprice {
				    padding: 15px;
				    margin-top: 20px;
				    del {
					    display: block;
					    color: $orange;
					    opacity: 0.8;
					    font-size: 20px;
					    font-family: 'heebo';
					    span {
						    color: $orange;
						}
					}
					ins {
					    text-decoration: none;
					    font-size: 35px;
					    font-family: 'heebo';
					    font-weight: 700;
					    color: white;
					}
				}
			}
			&.heightbanner {
				a {
					display: block;
	    			height: 410px;
	    			img {
					    width: 100%;
					    height: 100%;
					    object-fit: cover;
					}
				}
			}
		}
	}
}
.cart-page {
	margin-top: 120px;
	.core-page {
	    margin: 20px 0px;
	}
	.breadcrumb {
		background: transparent linear-gradient(90deg, #FF9F3266 0%, #4B5AFC66 100%) 0% 0% no-repeat padding-box;
		ul {
			display: flex;
		    align-items: center;
		    padding: 18px 0px;
			li {
				font-size: 20px;
				color: #959595;
				&.active {
					color: $morado;
				}
				&.divisor {
				    margin: 0px 20px;
				    svg {
				    	width: 15px;
					    height: 17px;
					    display: block;
				    	path {
				    		fill: #959595;
				    	}
				    }
				    &.active {
				    	svg {
				    		path {
							    fill: $morado;
							}
				    	}
				    }
				}
			}
		}
	}
	.remove-s {
	    position: absolute;
	    a {
		    display: block !important;
		    width: 30px !important;
		    height: 40px !important;
		    background: transparent !important;
		    svg {
			    width: 30px;
			    height: 40px;
			}
		}
	}
	a.thumbnail_core {
	    width: 300px;
	    img {
		    width: 300px !important;
		}
	}
	td.product-thumbnail {
	    width: 300px;
	}
	td.product-name {
		padding: 25px 0px !important;
		.marca {
		    font-size: 20px;
		    font-weight: 700;
		    margin-bottom: 5px;
		    -webkit-text-stroke: 0.5px black;
		}
		.price {
		    font-family: 'heebo';
		    font-size: 24px;
		    color: black;
		    a {
			    color: black;
			    font-weight: 400;
			    margin: 10px 0px;
			    display: block;
			}
		}
		.modelo {
		    font-family: 'heebo';
		    font-size: 14px;
		    text-transform: uppercase;
		    font-weight: 700;
		}
		.predns {
		    display: flex;
		    flex-flow: wrap;
		}
		.predns {
		    margin-top: 20px;
		    h5 {
			    margin-top: 0px;
			    margin-bottom: 10px;
			    font-size: 20px;
			    font-weight: 700;
			    flex: none;
			    width: 100%;
			}
			.predns_item {
			    background: #FFFFFF 0% 0% no-repeat padding-box;
			    box-shadow: 0px 3px 3px #000000;
			    border-radius: 7px;
			    text-align: center;
			    padding: 5px;
			    font-size: 10px;
			    width: 75px;
			    margin-right: 5px;
			}
		}
	}
	td.product-price {
		width: 300px;
		.prices_html__price {
			font-family: 'heebo';
		    del {
			    display: block;
			    color: #c1c1c1;
			    text-decoration: none;
			    font-size: 14px;
			    &:before {
			    	content: 'Antes ';
					margin-right: 5px;
			    }
			}
			ins {
			    z-index: 1;
			    color: white;
			    text-decoration: none;
			    font-size: 26px;
			    font-weight: 700;
			    display: flex;
			    margin: 7px 0px;
			    justify-content: space-between;
			    position: relative;
			    line-height: 40px;
			    &:before {
			    	content: 'PRECIO Transferencia';
				    font-size: 16px;
				    line-height: 18px;
				    display: block;
				    max-width: 120px;
				    color: $morado;				    
				    font-family: 'ralewayregular';
				    font-weight: 700;
				    -webkit-text-stroke: 0.5px $morado;
			    }
			    .woocommerce-Price-amount {
			    	&:before {
			    		content: '';
			    		background: url('../assets/img/money.png');
						width: 30px;
					    height: 30px;
					    position: absolute;
					    background-size: cover;
					    right: 140px;
					    top: 4px;
			    	}
			    }			    
			    &:after {
			    	content: '';
				    position: absolute;
				    width: 170px;
				    height: 50px;
				    right: -15px;
				    top: -5px;
				    background: $morado;
				    z-index: -1;
				    border-bottom-left-radius: 20px;
			    }
			}		
		}
		.prices_html__mPrice {
			display: flex;
		    justify-content: space-between;
		    margin: 10px 0px;
		    width: 100%;
		    font-family: 'heebo';
		    font-size: 14px;
		    font-weight: 700;
		}
	}
	td.product-quantity {
		input {
		    width: 70px !important;
		    display: block;
		    font-size: 20px;
		    position: relative;
		    top: -6px;
		    border: solid 2px #4b5afc;
		    border-radius: 5px;
		    border-top-left-radius: 0px;
		    border-bottom-left-radius: 0px;
		    line-height: 25px;
		    padding-top: 10px;
		    padding-bottom: 12px;
		}
	}
	td.product-subtotal {
		span {
		    font-family: 'heebo';
		    font-size: 25px;
		    font-weight: 700;
		    -webkit-text-stroke: 0.5px black;
		}
	}
	.addtionalTitle {
	    margin: 15px 0px;
	    h3 {
		    display: flex;
		    align-items: center;
		    img {
			    margin-right: 10px;
			    width: 25px;
			    height: 25px;
			    flex: none;
			}
		}
	}
	.colores_tag {
		display: flex;
	}
	.colors_step {
	    max-width: 75px;
	    margin: 0px 10px;
	    cursor: pointer;
	    position: relative;
	    span {
		    width: 52px;
		    height: 52px;
		    box-shadow: 0px 3px 3px #000000BD;
		    display: block;
		    border-radius: 50%;
		    margin: auto;
		}
		p {
			margin-bottom: 0px;
		    font-size: 10px;
		    font-weight: 700;
		    margin-top: 10px;
		    text-align: center;
		    line-height: 16px;
		}
		&.active {
			&:before {
			    content: '';
			    position: absolute;
			    width: 8px;
			    height: 20px;
			    border-bottom: solid 3px black;
			    border-right: solid 3px black;
			    transform: rotate(45deg);				
			    left: 50%;
			    top: 12px;
			    margin-left: -5px;
			}
		}
	}
	.inbox_check {
	    text-align: center;
	}
	.content_additionalproducts {
	    display: flex;
	    .item_additional {
		    width: 215px;
		    margin-right: 20px;
		    position: relative;
		    .flex {
		    	align-items: center;
		    }
		    .left {
			    padding: 20px;
			    flex: none;
			     img {
				    width: 48px !important;
				    height: 48px !important;
				    display: block;
				}
			}
			.right {
			    color: white;
			    padding: 20px 0px;
			    padding-right: 20px;
			    p {
				    font-size: 10px;
				    line-height: 13px;
				}
				h4 {
				    font-family: 'heebo';
				    margin: 5px 0px;
				    margin-bottom: 0px;
				}
				a {
				    color: white;
				    text-decoration: underline;
				    font-size: 12px;
				}
			}
			input {
				&.disabled {
					pointer-events: none;
					opacity: 0.5;
				}
			}
			.information {
			    position: absolute;
			    background: white;
			    width: calc(100% - 40px);
			    left: 50%;
			    transform: translateX(-50%);
			    bottom: 70px;
			    padding: 20px 10px;
			    font-size: 11px;
			    text-align: center;
			    line-height: 16px;
			    box-sizing: border-box;
			    opacity: 0;
			    pointer-events: none;
			    .close-inf {
				    position: absolute;
				    width: 17px;
				    height: 17px;
				    cursor: pointer;
				    top: 0;
				    right: 0;
				    &:before {
					    content: '';
					    position: absolute;
					    width: 14px;
					    height: 2px;
					    background: black;
					    transform: rotate(45deg);
					    left: 2px;
					    top: 7px;
					}
					&:after {
					    content: '';
					    position: absolute;
					    width: 14px;
					    height: 2px;
					    background: black;
					    transform: rotate(-45deg);
					    left: 2px;
					    top: 7px;
					}
				}
				&:after {
				    content: '';
				    position: absolute;
				    width: 10px;
				    height: 10px;
				    background: white;
				    transform: rotate(45deg);
				    bottom: -3px;
				    left: 50%;
				    margin-left: -2px;
				}
				&.active {
					opacity: 1;
					pointer-events: all;
				}
			}
		}
	}
	button.btn.update_cart {
	    background: $orange;
	}
	.cart_totals {
		.woocommerce-shipping-totals {
			display: none;
		}
	}
}
.woocommerce table.shop_table td {
   &.additionaltd { border-top: none !important; }
}
.woocommerce table.shop_table {
    box-shadow: 0px 3px 6px #00000066;
}
.woocommerce .cart-collaterals .cart_totals, .woocommerce-page .cart-collaterals .cart_totals {
    width: 100% !important;
}
.cart-collaterals {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
	.cart-left {
	    width: 45%;
	    box-shadow: 0px 3px 6px #00000066;
	    padding: 30px 40px;
	    box-sizing: border-box;
	    h5 {
		    margin: 0px;
		    text-align: center;
		    font-size: 20px;
		    margin-bottom: 20px;
		}
		.cupone_f {
		    display: flex;
		    justify-content: space-between;
		    flex-wrap: wrap;
		    input {
			    background: #FFFFFF 0% 0% no-repeat padding-box;
			    border: 0.5px solid #000000;
			    border-radius: 3px;
			    padding: 15px 20px;
			    width: calc(100% - 220px);
			    flex: none;
			    box-sizing: border-box;
			    font-size: 20px;
			}
			button {
			    width: 200px;
			    flex: none;
			    background: #ff9f32;
			    color: white;
			    border: solid 1px #c3751c;
			    border-radius: 7px;
			    font-size: 20px;
			}
		}
	}
	.cart-right {
	    width: 45%;
	    .cart_totals {
	    	h4 {
			    font-size: 25px;
			    margin-bottom: 10px;
			}
	    }
	}
	&:before, &:after {
	    display: none !important;
	}
	.woocommerce-Price-amount {
		font-family: 'heebo';
	}
	.order-total {
		font-size: 24px;
	}
}
.wc-proceed-to-checkout .checkout-button {
    max-width: 500px;
    margin: auto !important;
    margin-bottom: 10px !important;
    background: #FF9F32 !important;
    border-radius: 20px !important;
    font-size: 20px !important;
}
p.addcomend {
    text-align: center;
    color: #ED1E1E;
    margin: 20px 0px;
    font-weight: 700;
}
.checkout-page {
	margin-top: 120px;
	.core-page {
	    margin: 20px 0px;
	}
	.breadcrumb {
		background: transparent linear-gradient(90deg, #FF9F3266 0%, #4B5AFC66 100%) 0% 0% no-repeat padding-box;
		ul {
			display: flex;
		    align-items: center;
		    padding: 18px 0px;
			li {
				font-size: 20px;
				color: #959595;
				&.active {
					color: $morado;
				}
				&.divisor {
				    margin: 0px 20px;
				    svg {
				    	width: 15px;
					    height: 17px;
					    display: block;
				    	path {
				    		fill: #959595;
				    	}
				    }
				    &.active {
				    	svg {
				    		path {
							    fill: $morado;
							}
				    	}
				    }
				}
			}
		}
	}
	.woocommerce table.shop_table {
	    box-shadow: none;
	    border: none;
	}
	.flex-item {
	    width: calc(33.33% - 40px);
	}
	.flex-content {
	    flex-wrap: wrap;
	    justify-content: space-between;
	}
	.boxFlex {
	    box-shadow: 0px 3px 6px #00000066;
	    padding: 25px;
	}
	.checkoutTitle h3 {
	    display: flex;
	    align-items: center;
	    margin-bottom: 20px;
	    img {
		    margin-right: 10px;
		    width: 32px;
		    height: 32px;
		}
	}
	.simple-verifydata .editData {
	    position: absolute;
	    top: 0;
	    right: 0;
	    a {
	    	display: flex;
		    align-items: center;
		    color: black;
		    text-decoration: underline;
		    img {
		    	margin-left: 5px;
		    }
	    }
	}
	.escoger_metodo ul img {
	    display: block;
	    width: 40px;
	    height: 40px;
	}
	.escoger_metodo ul {
	    display: flex;
	    align-items: center;
	    justify-content: center;
	    li {
		    text-align: center;
		    font-size: 10px;
		    margin: 10px 20px;
		    .contentMetodo {
			    text-align: center;
			    border-radius: 50%;
			    box-shadow: 3px 3px 3px #000000B0;
			    width: 60px;
			    height: 60px;
			    margin: auto;
			    margin-bottom: 10px;
			    img {
				    display: inline-block;
				    position: relative;
				    top: 8px;
				    left: 3px;
				}
			}
		}
	}
	#order_review {
	    font-family: 'heebo';
	}
	.method_item {
	    display: none;
	}
	.simple-verifydata {
	    margin-bottom: 20px;
	    position: relative;
	    .datos {
		    font-family: 'heebo';
		    margin: 10px 0px;
			a {
			    display: flex;
			    align-items: center;
			    color: black;
			    text-decoration: underline;
			    img {
				    margin-left: 5px;
				}
			}
		}
		h4 {
		    display: flex;
		    align-items: center;
		    img {
		    	max-width: 25px;
			    margin-right: 5px;
			}
		}
		.solitarfactura a {
		    color: #ED1E1E;
		    text-decoration: underline;
		    font-weight: 700;
		}
	}
	#customer_details { display: none; }
	.woocommerce-billing-fields input, .woocommerce-billing-fields select, .woocommerce-shipping-fields input, .woocommerce-shipping-fields select {
	    padding: 10px;
	    border-radius: 5px;
	    border: solid 1px gainsboro;
	    appearance: none;
	}
	.woocommerce-billing-fields, .woocommerce-shipping-fields  {
	    border-top: solid 1px #d4d4d4;
	    padding-top: 20px;
	}
	.mensajeRed {
	    color: #FB0415;
	    font-weight: 700;
	    font-size: 12px;
	    text-align: center;
	    margin: 20px 0px;
	}
	tr.woocommerce-shipping-totals.shipping {
	    display: none;
	}	
	.data_concesionario {
	    background: #FFCB90;
	    margin-bottom: 20px;
	    padding: 20px;
	    box-shadow: 0px 3px 3px #00000066;
	    strong {
		    font-size: 14px;
		}
		.data_item {
		    margin-bottom: 10px;
		    &:last-child {
			    margin-bottom: 0px;
			}
			p {
			    border-bottom: solid 1px #131313;
			    font-family: 'heebo';
			    font-size: 14px;
			    padding: 5px 0px;
			}
		}
	}	
	#billing_country_field { display: none; }
	.factura_flex {
		display: flex;
	    flex-wrap: wrap;
	    padding: 15px 20px;
	    background: #efefef;
	    margin-top: 20px;
	    position: relative;
	    justify-content: space-between;
	    align-items: flex-end;
	    &:before {
		    content: '';
		    position: absolute;
		    width: 10px;
		    height: 10px;
		    background: #efefef;
		    top: -4px;
		    transform: rotate(-45deg);
		}
		.factura30 {
		    width: calc(33.33% - 5px);
		    label {
			    font-size: 14px;
			    font-weight: 700;
			}
			input {
			    padding: 10px 5px;
			    width: 100%;
			    box-sizing: border-box;
			    border-radius: 5px;
			    border: solid 1px #cacaca;
			    appearance: none;
			}
			.addFacture {
			    width: 100%;
			    background: #435bff;
			    display: block;
			    text-align: center;
			    font-size: 14px;
			    color: white;
			    padding: 12px 5px;
			    box-sizing: border-box;
			    border-radius: 5px;
			}
		}
	}
}

.woocommerce #payment #place_order, .woocommerce-page #payment #place_order {
    float: none;
    width: 100%;
    margin-top: 20px;
    font-size: 25px;
    background: #ffa01f !important;
    border-radius: 7px !important;
}