@import "utilities";
@import "variables";
section {
    position: relative;
    background: white;
}
.init {
    position: relative;
    z-index: 1;
    background: #080808;
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    height: 100%;
    z-index: -1;
    &:before {
	    content: '';
	    position: absolute;
	    width: 100%;
	    height: 100%;
	    left: 0;
	    top: 0;
	    background: #080808;
	    z-index: 1;
	    opacity: 0.4;
	    pointer-events: none;
	}
    img {
	    position: absolute;
	    bottom: 0px;
	    left: -100%;
	    width: 100%;
	}
	.init-title {
	    position: relative;
	    z-index: 2;		
	}
	.initTitle {
	    font-family: 'ralewaymedium';
	    -webkit-text-stroke: 3px white;
	    color: transparent;
	    font-size: 100px;
	    max-width: 900px;
	    height: 235px;
	    overflow: hidden;
	}
	h1 {
		color: $orange;
		font-size: 60px;
		margin-top: 50px;
		font-family: 'ralewaysemibold';
	}
	.initButtons {
	    bottom: 80px;
	    left: 50%;
	    z-index: 2;
	    transform: translateX(-50%);
	    a {
		    margin: 0px 40px;
		}
	}
}
.banner {
	margin-top: 100vh;
	.initCore {
	    background-size: cover;
	}

	.bottom-banner {
	    bottom: 50px;
	    right: 200px;
	    z-index: 2;
		.swiper-pagination {
		    margin-top: 0px !important;
		    .swiper-pagination-bullet {
			    width: 30px;
			    border-radius: 0px;
			    height: 0px;
			    border: solid 2px white;
			    margin-left: 10px;
			    &.swiper-pagination-bullet-active {
			    	width: 100px;
			    	border: solid 2px $morado;
			    }
			    i {
				    position: absolute;
				    font-family: 'heebo';
				    color: white;
				    font-style: normal;
				    top: -37px;
				    left: 0px;
				    font-size: 25px;
				    font-weight: 700;
				}
			    &:before {
			    	display: none;
			    }
			}
		}
	}
}
.sectionpadd {
	padding: 40px 0px;
	.style_motos {
	    margin-top: 40px;
	}
}
.style_motos__moto {
	opacity: 0;
	transition: 0.3s;
	a {
	    display: block;
	    position: relative;
	    text-align: center;
	    &:before {
		    content: '';
		    position: absolute;
		    width: 160px;
		    height: 160px;
		    box-shadow: 3px 3px 3px #000000B5;
		    border: 1px solid #95959526;
		    border-radius: 50%;
		    top: 0px;
		    left: 50%;
		    margin-left: -80px;
		    @include maxw(mylaptop) {
				width: 130px;
		    	height: 130px;
		    	margin-left: -65px;
			}
		}
	}
	img {
		height: 75px;
	    width: auto;
	    background: white;
	    margin: 30px;
	    margin-top: 45px;
	    margin-bottom: 50px;
	    @include maxw(mylaptop) {
	    	height: 50px;
		    width: auto;
		    background: white;
		    margin: 25px;
		    margin-top: 45px;
		    margin-bottom: 45px;
	    }
	}
	p {
	    font-size: 12px;
	    color: #082630;
	    text-transform: uppercase;
	}
}
#estilos {
	&.animation {
		.style_motos__moto {
			opacity: 1;
		}
	}
}
#bannner {
	img {
		opacity: 0;
		transition: 0.3s;
	}
	&.animation {
		img {
			opacity: 1;
		}		
	}
}
.section-a {
	.swiper-slide {
		width: calc(50% - 20px);
		margin-right: 20px;
		img {
		    width: 100%;
		}
	}
}
.marcas_list__item {
    margin: 20px 0px;
    a {
	    text-align: center;
	    width: 160px;
	    height: 160px;
	    margin: auto;
	    border-radius: 50%;
	    box-shadow: 3px 3px 3px #000000B5;
	    border: 1px solid #95959526;
	    display: flex;
	    align-items: center;
	    justify-content: center;
	    @include maxw(mylaptop) {
			width: 130px;
	    	height: 130px;
		}
	    img {
		    height: 80px;
		    width: auto;
		    position: relative;
		    top: -5px;
		    object-fit: contain;
		    padding: 10px;
		    @include maxw(mylaptop) {
		    	height: 60px;
		    }
		}
	}
}
#marcas {
	.marcas_list__item {
		opacity: 0;
		transition: 0.3s;
	}
	&.animation {
		.marcas_list__item {
			opacity: 1;
		}		
	}
}
#destacados {
	.my_products_featureds {
		margin-top: 20px;
		.my_prod {
		    margin-right: 50px;
		    margin-top: 40px;
		    position: relative;
		    box-shadow: 0px 4px 12px #0000003b;
		    margin-bottom: 20px;
		    margin-left: 10px;
		    transition: 0.3s;
		    &:hover {
			    transform: translateY(-3px);
			    box-shadow: 0px 12px 18px #4e4e4e66;
			}
			a {
			    display: block;
			    .imagen {
				    margin-bottom: -30px;
				    .destacada {
					    position: absolute;
					    font-weight: 700;
					    background: #FB0415;
					    font-size: 12px;
					    top: -15px;
					    left: 15px;
					    color: white;
					    padding: 10px;
					    text-transform: uppercase;
					    border-radius: 5px;
					}
					img {
					    width: calc(100% + 60px);
					    display: block;
					    position: relative;
					    top: -40px;
					}
				}
				.text {
				    padding: 0px 15px;
				    h3 {
					    font-size: 30px;
					    color: #001A23;
					    font-weight: 700;
					    font-family: 'heebo';
					}
					p {
					    font-size: 20px;
					    font-weight: 700;
					    -webkit-text-stroke: 1px #959595;
					    color: #959595;
					}
				}
				.myprice {
				    padding: 15px;
				    margin-top: 20px;
				    del {
					    display: block;
					    color: $orange;
					    opacity: 0.8;
					    font-size: 20px;
					    font-family: 'heebo';
					    span {
						    color: $orange;
						}
					}
					ins {
					    text-decoration: none;
					    font-size: 35px;
					    font-family: 'heebo';
					    font-weight: 700;
					    color: white;
					}
				}
			}
			&.heightbanner {
				a {
					display: block;
	    			height: 410px;
	    			img {
					    width: 100%;
					    height: 100%;
					    object-fit: cover;
					}
				}
			}
		}
		.swiper-slide {
		    perspective: 1000px;
		    .my_prod {
			    transform: rotateY(20deg);
			    opacity: 0;
			}
		} 
	}
	&.animation {
		.my_products_featureds {
			.swiper-slide {
			    .my_prod {
				    transform: rotateY(0deg);
				    opacity: 1;
				}
			} 
		}
	}
}

.bannerMoon {
    height: 320px;
    background-size: cover;
    background-position: center;
}
.bannerMoonM {
	background: white;
    padding: 50px 0px;
}
.descuentos {
    position: relative;
    padding: 50px 0px;
    z-index: 1;
    h2 {
	    text-align: center;
	    font-size: 45px;
	}
	p {
	    text-align: center;
	    font-size: 30px;
	    color: white;
	}
	.decorative_left {
	    position: absolute;
	    z-index: -1;
		left: 0px;	    
	    top: 0;
	    width: 50%;
	    height: 100%;
	    img {
	    	transform: translateY(-5px);
	    	opacity: 0;
	    	transition: 0.3s;
	    	&:nth-child(1) {
			    left: 200px;
			    position: absolute;
			    top: -30px;
			    @include maxw(mypc) {
			   	 	left: 100px;
				}
				@include maxw(mylaptop) {
			    	left: 80px;
				}
				@include maxw(laptop) {
			    	left: 50px;
				}
			}
			&:nth-child(2) {
				right: -120px;
			    position: absolute;
			    bottom: 10px;
			    @include maxw(mypc) {
			   	 	right: -80px;
				}
				@include maxw(mylaptop) {
			    	right: -40px;
				}
				@include maxw(laptop) {
			    	right: -20px;
				}
			}
			&:nth-child(3) {
				left: 45%;
			    position: absolute;
			    bottom: -20px;
			    @include maxw(mypc) {
			   	 	left: 35%;
				}
				@include maxw(mylaptop) {
			    	left: 25%;
				}
				@include maxw(laptop) {
			    	left: 15%;
				}
			}
			&:nth-child(4) {
				right: 275px;
			    position: absolute;
			    top: -20px;
			    @include maxw(mypc) {
			   	 	right: 200px;
				}
				@include maxw(mylaptop) {
			    	right: 100px;
				}
				@include maxw(laptop) {
			    	right: 40px;
				}
			}
			&:nth-child(5) {
				left: 42%;
			    position: absolute;
			    top: 45px;
			    @include maxw(mypc) {
			   	 	left: 32%;
				}
				@include maxw(mylaptop) {
			    	left: 22%;
				}
				@include maxw(laptop) {
			    	left: 12%;
				}
			}
	    }
	}
	.decorative_right {
	    position: absolute;
	    z-index: -1;
	    right: 0px;	    
	    top: 0;
	    width: 50%;
	    height: 100%;
	    img {
	    	transform: translateY(-5px);
	    	opacity: 0;
	    	transition: 0.3s;
	    	&:nth-child(1) {
				left: 350px;
			    position: absolute;
			    top: -25px;
			    @include maxw(mypc) {
			   	 	left: 250px;
				}
				@include maxw(mylaptop) {
			    	left: 180px;
				}
				@include maxw(laptop) {
			    	left: 70px;
				}
			}
			&:nth-child(2) {
				right: 200px;
			    position: absolute;
			    bottom: 10px;
			    @include maxw(mypc) {
			   	 	right: 100px;
				}
				@include maxw(mylaptop) {
			    	right: 50px;
				}
				@include maxw(laptop) {
			    	right: 10px;
				}
			}
			&:nth-child(3) {
				left: 45%;
			    position: absolute;
			    bottom: -20px;
			    @include maxw(mypc) {
			   	 	left: 35%;
				}
				@include maxw(mylaptop) {
			    	left: 25%;
				}
				@include maxw(laptop) {
			    	left: 15%;
				}
			}
			&:nth-child(4) {
			    left: -175px;
			    position: absolute;
			    bottom: 0px;
			    @include maxw(mypc) {
			   	 	right: -120px;
				}
				@include maxw(mylaptop) {
			    	right: -80px;
				}
				@include maxw(laptop) {
			    	right: -30px;
				}
			}
			&:nth-child(5) {
				left: 42%;
			    position: absolute;
			    top: 45px;
			    @include maxw(mypc) {
			   	 	left: 32%;
				}
				@include maxw(mylaptop) {
			    	left: 22%;
				}
				@include maxw(laptop) {
			    	left: 12%;
				}
			}
	    }
	}
	&.animation {
		.decorative_left, .decorative_right {
			img {
				transform: none;
				opacity: 1;
			}
		}
	}
} 

.prometemos {
    padding-bottom: 80px;
    padding-top: 40px;
    h2 {
	    text-align: center;
	    margin-bottom: 50px;
	}
	.promesas_list {
	    display: flex;
	    justify-content: space-between;
	    .promesas_li {
		    flex: 1;
		    text-align: center;
		    transition: 0.3s;
		    transform: translateY(-3px);
		    opacity: 0;
		    img {
				max-width: 100px;
			    margin: auto;
			    display: block;
		    }
		    h3 {
			    font-size: 20px;
			    font-weight: 700;
			    margin-top: 10px;
			    margin-bottom: 5px;
			}
			div {
			    font-size: 12px;
			    max-width: 180px;
			    margin: auto;
			}
		}
	}
	&.animation {
		.promesas_list {
			.promesas_li {
				transform: none;
				opacity: 1;
			}
		}
	}
}
.aceptamos {
    padding: 40px 0px;
    text-align: center;
    h2 {
	    text-transform: uppercase;
	    margin-bottom: 20px;
	}
	img {
	    max-width: 500px;
	}
	.paymenthds {
	    display: flex;
	    align-items: center;
	    justify-content: center;
	    img {
		    margin: 10px;
		    transform: translateY(-3px);
		    opacity: 0;
		    transition: 0.3s;
		}
	}
	&.animation {
		.paymenthds {
			img {
				transform: none;
			    opacity: 1;
			    transition: 0.3s;
			}
		}
	}
}

